#mapid {
  height: 610px;
}

.red-marker {
  position: relative;
  z-index: 1000 !important;
}

/* Small devices (phones in landscape and portrait, 768px and down) */
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }
  html,
  body,
  #mapid {
    height: 100vh;
    width: 100vw;
  }
}
