.users-list {
  padding-right: 0px !important;
}

.map-container {
  padding-left: 0px !important;
}

#btnLocation {
  margin: 0 0 0 5px;
  display: inline-block;
}

#formLocation {
  padding: 20px;
  background-color: white;
}

#inputLocation {
  width: 150px;
  display: inline-block;
}

#inputDistance {
  width: 130px;
  display: block;
}
